In [2]:
def celsius_fahrenheit():
    # F = (C * 9/5) + 32
    fahrenheit = (22 * (9/5)) + 32
    print(fahrenheit)
    return fahrenheit

In [3]:
celsius_fahrenheit()

71.6

71.6

In [4]:
def celsius_fahrenheit(C):
    # F = (C * 9/5) + 32
    fahrenheit = (C * (9/5)) + 32
    return fahrenheit

In [5]:
celsius_fahrenheit()

TypeError: celsius_fahrenheit() missing 1 required positional argument: 'C'

In [6]:
celsius_fahrenheit(100)

212.0

In [7]:
celsius_fahrenheit(C=25)

77.0

In [8]:
def fahrenheit_celsius(F):
    # C = (F - 32) * (5 / 9)
    celsius = (F - 32) * (5 / 9)
    return celsius

In [9]:
fahrenheit_celsius(77)

25.0

In [19]:
def fahrenheit_celsius(F = 77): 
    # by putting F = 77, 77 is the default variable
    # when the user adds a value, the default is overwritten
    # C = (F - 32) * (5 / 9)
    celsius = (F - 32) * (5 / 9)
    return celsius

In [21]:
fahrenheit_celsius(75)

23.88888888888889

In [22]:
fahr = fahrenheit_celsius()

In [23]:
fahr

25.0

In [24]:
import pandas as pd

In [25]:
dem_health_data = pd.read_csv("Dem_Health_Full.txt",
                             sep="\t")
#uses pandas (pd) to call the dem health file to a given variable

In [27]:
dem_health_data.head()
#shows the head of the the file, default is 5, but can specify more ie (20)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0

In [34]:
def get_urban(df):
    #df = dataframe (df gets replaced by the file name)
    #using df is a pandas object so i dont need to specify pandas (object oriented programing)
    #variable = df.loc[rows,columns]
    urban = df.loc[df['Population_Density'] >= 1000,
                   :]
    return urban

In [29]:
urban_counties = get_urban(dem_health_data)

In [30]:
urban_counties

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
217,Sacramento,CA,1412,13.7,5.6,10.9,58592.0,28774.0
221,San Francisco,CA,15837,12.0,3.9,11.0,25255.0,18969.0
224,San Mateo,CA,1558,6.8,4.1,7.1,30483.0,14256.0
226,Santa Clara,CA,1316,8.8,4.0,7.6,81257.0,26130.0
258,Denver,CO,3638,15.1,6.7,14.2,34354.0,13530.0
306,Fairfield,CT,1443,7.3,5.3,6.3,36336.0,21011.0
307,Hartford,CT,1193,9.2,6.3,7.6,31212.0,23682.0
310,New Haven,CT,1398,9.4,6.8,7.6,30738.0,23078.0
315,New Castle,DE,1227,8.2,9.4,11.1,21109.0,12346.0
317,Washington,DC,8966,17.5,10.9,6.0,22742.0,17375.0
323,Broward,FL,1475,12.5,6.5,13.3,67007.0,48248.0
332,Duval,FL,1068,12.8,10.3,14.5,36661.0,20511.0
345,Hillsborough,FL,1077,13.0,8.7,12.6,45253.0,26268.0
360,Miami-Dade,FL,1221,18.9,5.9,9.1,97091.0,55624.0
365,Orange,FL,1127,13.2,7.5,9.9,43304.0,19432.0
369,Pinellas,FL,3315,12.1,7.6,16.3,27592.0,37641.0
376,Seminole,FL,1303,9.1,5.5,13.0,13633.0,8050.0
415,Clayton,GA,1879,13.9,10.2,11.5,13391.0,4067.0
417,Cobb,GA,1952,9.6,6.4,9.2,31600.0,9967.0
428,DeKalb,GA,2528,13.2,9.2,9.7,32375.0,11887.0
444,Fulton,GA,1732,16.2,8.7,8.7,40860.0,18471.0
451,Gwinnett,GA,1678,8.2,6.5,9.6,34815.0,8012.0
545,Honolulu,HI,1509,10.5,7.3,9.5,38506.0,18565.0
608,Cook,IL,5608,14.5,8.5,7.5,247949.0,134307.0
614,DuPage,IL,2785,5.9,6.6,7.3,39133.0,17092.0
641,Lake,IL,1570,6.9,5.0,7.6,31544.0,11514.0
...,...,...,...,...,...,...,...,...
2917,Charlottesville City,VA,3941,17.8,7.4,11.6,2553.0,1737.0
2919,Colonial Heights City,VA,2349,7.4,6.7,13.8,2847.0,2044.0
2920,Covington City,VA,1094,12.7,6.6,-1111.1,834.0,1031.0
2921,Danville City,VA,1072,19.3,10.1,19.3,2861.0,3768.0
2923,Fairfax City,VA,3481,5.5,6.7,13.2,3271.0,2080.0
2924,Falls Church City,VA,5418,3.0,5.4,9.4,1866.0,790.0
2925,Franklin City,VA,1029,17.3,9.8,11.3,1154.0,1332.0
2926,Fredericksburg City,VA,1971,14.1,9.1,15.1,3936.0,2179.0
2928,Hampton City,VA,2811,13.1,11.6,8.5,5611.0,3410.0
2929,Harrisonburg City,VA,2303,17.9,5.9,10.4,2382.0,1298.0
2930,Hopewell City,VA,2216,16.4,10.5,14.4,3525.0,2654.0
2931,Lexington City,VA,2721,16.1,NaN,-1111.1,558.0,767.0
2932,Lynchburg City,VA,1356,17.5,9.2,11.0,4221.0,4057.0
2933,Manassas City,VA,3783,7.5,4.5,-1111.1,3593.0,959.0
2934,Manassas Park City,VA,4667,6.5,6.3,-1111.1,1915.0,347.0
2935,Martinsville City,VA,1362,17.9,2.4,19.9,1907.0,2598.0
2936,Newport News City,VA,2634,14.0,11.7,10.1,9587.0,4220.0
2937,Norfolk City,VA,4317,19.8,11.0,12.6,12143.0,6226.0
2939,Petersburg City,VA,1425,18.5,12.6,9.1,2706.0,2471.0
2941,Portsmouth City,VA,3021,16.5,14.2,13.4,4726.0,3254.0
2942,Radford City,VA,1484,18.5,6.8,19.1,1317.0,1023.0
2943,Richmond City,VA,3226,20.2,14.8,11.5,9287.0,6989.0
2944,Roanoke City,VA,2160,16.9,10.5,16.1,6456.0,6277.0
2945,Salem City,VA,1690,8.4,7.6,11.2,2528.0,3045.0
2946,Staunton City,VA,1184,13.1,6.6,14.5,2527.0,2964.0
2948,Virginia Beach City,VA,1766,8.0,7.1,9.8,18786.0,7655.0
2949,Waynesboro City,VA,1385,13.1,8.1,19.7,2731.0,2330.0
2950,Williamsburg City,VA,1376,17.5,11.2,16.4,1192.0,1288.0
2951,Winchester City,VA,2692,12.0,8.0,15.8,3336.0,2628.0
3086,Milwaukee,WI,3815,16.2,10.4,11.4,43885.0,26557.0

In [31]:
def get_urban(df, threshold):
    #threshold allows user to ender a value to list all couties with pop dens >= to entered value
    urban = df.loc[df['Population_Density'] >= threshold,
                   :]
    return urban

In [32]:
urban_counties = get_urban(dem_health_data,10000)

In [33]:
urban_counties

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
221,San Francisco,CA,15837,12.0,3.9,11.0,25255.0,18969.0
1227,Suffolk,MA,11183,15.9,6.1,5.7,28649.0,16317.0
1780,Hudson,NJ,12926,15.0,7.4,4.8,26507.0,13726.0
1828,Bronx,NY,32300,26.8,6.8,5.8,68201.0,30886.0
1849,Kings,NY,35211,23.3,6.5,4.6,119171.0,54937.0
1856,New York,NY,69390,18.6,4.9,8.2,60627.0,34423.0
1866,Queens,NY,20520,15.4,5.2,4.7,92216.0,47876.0
2292,Philadelphia,PA,10832,20.1,10.4,10.7,64853.0,50895.0

In [37]:
def split_county_by_pop(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, 
                   :]
    rural = df.loc[df['Population_Density'] < threshold,
                  :]
    return [urban, rural]

In [38]:
urban_rural_counties = \
split_county_by_pop(dem_health_data, 500)

# the backslash \ allows you to continue on the next line

In [39]:
urban_rural_counties

[                   County State  Population_Density  Poverty  \
 36              Jefferson    AL                 591     14.4
 184               Alameda    CA                1964     10.7
 190          Contra Costa    CA                1414      7.5
 202           Los Angeles    CA                2447     17.7
 213                Orange    CA                3785     10.6
 217            Sacramento    CA                1412     13.7
 220             San Diego    CA                 698     11.6
 221         San Francisco    CA               15837     12.0
 224             San Mateo    CA                1558      6.8
 226           Santa Clara    CA                1316      8.8
 227            Santa Cruz    CA                 561     11.3
 244              Arapahoe    CO                 659      7.9
 258                Denver    CO                3638     15.1
 272             Jefferson    CO                 682      6.8
 306             Fairfield    CT                1443      7.3
 307              Hartford    CT                1193      9.2
 310             New Haven    CT                1398      9.4
 315            New Castle    DE                1227      8.2
 317            Washington    DC                8966     17.5
 322               Brevard    FL                 522     10.1
 323               Broward    FL                1475     12.5
 332                 Duval    FL                1068     12.8
 345          Hillsborough    FL                1077     13.0
 352                   Lee    FL                 678     10.2
 360            Miami-Dade    FL                1221     18.9
 365                Orange    FL                1127     13.2
 367            Palm Beach    FL                 643     10.9
 368                 Pasco    FL                 576     11.9
 369              Pinellas    FL                3315     12.1
 375              Sarasota    FL                 641      8.4
 ...                   ...   ...                 ...      ...
 2927           Galax City    VA                 811     17.9
 2928         Hampton City    VA                2811     13.1
 2929    Harrisonburg City    VA                2303     17.9
 2930        Hopewell City    VA                2216     16.4
 2931       Lexington City    VA                2721     16.1
 2932       Lynchburg City    VA                1356     17.5
 2933        Manassas City    VA                3783      7.5
 2934   Manassas Park City    VA                4667      6.5
 2935    Martinsville City    VA                1362     17.9
 2936    Newport News City    VA                2634     14.0
 2937         Norfolk City    VA                4317     19.8
 2939      Petersburg City    VA                1425     18.5
 2940        Poquoson City    VA                 761      4.8
 2941      Portsmouth City    VA                3021     16.5
 2942         Radford City    VA                1484     18.5
 2943        Richmond City    VA                3226     20.2
 2944         Roanoke City    VA                2160     16.9
 2945           Salem City    VA                1690      8.4
 2946        Staunton City    VA                1184     13.1
 2948  Virginia Beach City    VA                1766      8.0
 2949      Waynesboro City    VA                1385     13.1
 2950    Williamsburg City    VA                1376     17.5
 2951      Winchester City    VA                2692     12.0
 2957                Clark    WA                 643     10.5
 2968                 King    WA                 844      9.4
 2969               Kitsap    WA                 608      9.2
 3075              Kenosha    WI                 588      8.8
 3086            Milwaukee    WI                3815     16.2
 3097               Racine    WI                 588      9.3
 3113             Waukesha    WI                 682      4.1

       Infant_Mortality  Suicide  Total_Births  Total_Deaths
 36                11.3     11.3       27118.0       21937.0
 184                4.8      7.6       65423.0       29143.0
 190                4.0      9.4       39653.0       20836.0
 202                5.4      7.9      457033.0      181018.0
 213                4.7      7.6      135702.0       51060.0
 217                5.6     10.9       58592.0       28774.0
 220                4.9     10.5      133137.0       59354.0
 221                3.9     11.0       25255.0       18969.0
 224                4.1      7.1       30483.0       14256.0
 226                4.0      7.6       81257.0       26130.0
 227                4.0     13.0       10669.0        5098.0
 244                5.0     16.5       23114.0        8722.0
 258                6.7     14.2       34354.0       13530.0
 272                5.5     16.1       19626.0       10089.0
 306                5.3      6.3       36336.0       21011.0
 307                6.3      7.6       31212.0       23682.0
 310                6.8      7.6       30738.0       23078.0
 315                9.4     11.1       21109.0       12346.0
 317               10.9      6.0       22742.0       17375.0
 322                6.5     17.5       14613.0       16256.0
 323                6.5     13.3       67007.0       48248.0
 332               10.3     14.5       36661.0       20511.0
 345                8.7     12.6       45253.0       26268.0
 352                6.5     14.3       16382.0       16162.0
 360                5.9      9.1       97091.0       55624.0
 365                7.5      9.9       43304.0       19432.0
 367                7.4     12.5       42293.0       40726.0
 368                6.6     18.7       11773.0       16150.0
 369                7.6     16.3       27592.0       37641.0
 375                5.1     17.1        8618.0       14238.0
 ...                ...      ...           ...           ...
 2927               5.3     19.5        1023.0        1212.0
 2928              11.6      8.5        5611.0        3410.0
 2929               5.9     10.4        2382.0        1298.0
 2930              10.5     14.4        3525.0        2654.0
 2931               NaN  -1111.1         558.0         767.0
 2932               9.2     11.0        4221.0        4057.0
 2933               4.5  -1111.1        3593.0         959.0
 2934               6.3  -1111.1        1915.0         347.0
 2935               2.4     19.9        1907.0        2598.0
 2936              11.7     10.1        9587.0        4220.0
 2937              11.0     12.6       12143.0        6226.0
 2939              12.6      9.1        2706.0        2471.0
 2940               6.5     12.8        1267.0         986.0
 2941              14.2     13.4        4726.0        3254.0
 2942               6.8     19.1        1317.0        1023.0
 2943              14.8     11.5        9287.0        6989.0
 2944              10.5     16.1        6456.0        6277.0
 2945               7.6     11.2        2528.0        3045.0
 2946               6.6     14.5        2527.0        2964.0
 2948               7.1      9.8       18786.0        7655.0
 2949               8.1     19.7        2731.0        2330.0
 2950              11.2     16.4        1192.0        1288.0
 2951               8.0     15.8        3336.0        2628.0
 2957               5.4     13.8       15927.0        7314.0
 2968               4.9     10.6       66179.0       34777.0
 2969               6.4     11.5        8916.0        5391.0
 3075               5.6     13.6        6381.0        3763.0
 3086              10.4     11.4       43885.0       26557.0
 3097              10.9     11.6        7676.0        4595.0
 3113               3.0      8.0       13001.0        8256.0

 [235 rows x 8 columns],
            County State  Population_Density  Poverty  Infant_Mortality  \
 0         Autauga    AL                  82     10.4               5.9
 1         Baldwin    AL                 102     10.2               7.1
 2         Barbour    AL                  32     22.1               7.1
 3            Bibb    AL                  35     16.8               9.8
 4          Blount    AL                  86     11.9               9.0
 5         Bullock    AL                  18     26.2              13.3
 6          Butler    AL                  27     20.0               5.8
 7         Calhoun    AL                 184     16.4               9.5
 8        Chambers    AL                  59     16.2               7.5
 9        Cherokee    AL                  44     15.2               7.4
 10        Chilton    AL                  60     14.9              10.5
 11        Choctaw    AL                  16     18.7              10.8
 12         Clarke    AL                  22     19.2               7.1
 13           Clay    AL                  23     14.0              10.2
 14       Cleburne    AL                  26     14.0               7.0
 15         Coffee    AL                  67     13.7               2.9
 16        Colbert    AL                  92     14.0               8.2
 17        Conecuh    AL                  16     22.0              14.4
 18          Coosa    AL                  17     13.4              13.9
 19      Covington    AL                  36     17.5               6.2
 20       Crenshaw    AL                  23     17.6              11.4
 21        Cullman    AL                 108     13.3               6.9
 22           Dale    AL                  87     15.8               7.9
 23         Dallas    AL                  45     25.0               9.6
 24         DeKalb    AL                  86     15.1               7.7
 25         Elmore    AL                 119     12.5               7.6
 26       Escambia    AL                  40     18.6              12.3
 27         Etowah    AL                 193     15.7               8.7
 28        Fayette    AL                  29     16.1               7.3
 29       Franklin    AL                  48     17.4              11.5
 ...           ...   ...                 ...      ...               ...
 3110     Walworth    WI                 180      8.0               5.3
 3111     Washburn    WI                  21      9.7               7.0
 3112   Washington    WI                 293      4.6               3.8
 3114      Waupaca    WI                  70      7.4               8.4
 3115     Waushara    WI                  40      9.6               7.6
 3116    Winnebago    WI                 364      7.5               6.1
 3117         Wood    WI                  95      7.8               3.7
 3118       Albany    WY                   7     14.4               3.7
 3119     Big Horn    WY                   4     13.2               6.2
 3120     Campbell    WY                   8      7.9               4.7
 3121       Carbon    WY                   2     12.2               8.8
 3122     Converse    WY                   3     10.5               7.5
 3123        Crook    WY                   2      8.5               0.0
 3124      Fremont    WY                   4     12.9               9.4
 3125       Goshen    WY                   6     14.6               7.7
 3126  Hot Springs    WY                   2     11.6               NaN
 3127      Johnson    WY                   2      9.6               0.0
 3128      Laramie    WY                  32      9.9               6.5
 3129      Lincoln    WY                   4      9.5               6.4
 3130      Natrona    WY                  13     12.1               4.9
 3131     Niobrara    WY                   1     14.1               NaN
 3132         Park    WY                   4     11.7               3.9
 3133       Platte    WY                   4     11.5               5.0
 3134     Sheridan    WY                  11     11.5               4.8
 3135     Sublette    WY                   1      7.7               8.7
 3136   Sweetwater    WY                   4      8.6              10.2
 3137        Teton    WY                   5      5.6               3.5
 3138        Uinta    WY                  10     10.6               7.0
 3139     Washakie    WY                   4     11.1               9.1
 3140       Weston    WY                   3      9.9              11.7

       Suicide  Total_Births  Total_Deaths
 0        16.6        3048.0        1867.0
 1        14.3        5471.0        4388.0
 2        10.3        1835.0        1538.0
 3        14.8        2801.0        2012.0
 4        14.4        3318.0        2453.0
 5     -1111.1        1604.0        1381.0
 6        11.9        2874.0        2857.0
 7        13.6        4429.0        3915.0
 8        12.8        2271.0        2424.0
 9        17.7        2659.0        2609.0
 10       13.3        2671.0        2065.0
 11        9.4        2152.0        1742.0
 12        8.9        1984.0        1444.0
 13       11.2        1748.0        1706.0
 14       30.1        1706.0        1540.0
 15       13.1        2762.0        2210.0
 16       15.1        3166.0        3087.0
 17       13.2        1872.0        1832.0
 18    -1111.1        1273.0        1174.0
 19       10.7        2247.0        2499.0
 20       11.2        1745.0        1825.0
 21        9.1        4897.0        4405.0
 22       10.8        3789.0        2259.0
 23        8.4        3767.0        2752.0
 24       10.9        4665.0        3326.0
 25        8.5        4707.0        2823.0
 26       11.0        2519.0        2151.0
 27       15.7        3810.0        4020.0
 28       12.0        2145.0        2224.0
 29       13.8        2169.0        1902.0
 ...       ...           ...           ...
 3110     11.0        5666.0        4077.0
 3111     11.4        1575.0        1846.0
 3112      9.8        4493.0        2572.0
 3114     10.5        2961.0        3352.0
 3115      9.8        2324.0        2487.0
 3116     12.5        5441.0        3870.0
 3117     11.0        4352.0        3424.0
 3118     15.6        1881.0         925.0
 3119     21.9        1440.0        1304.0
 3120     20.0        2548.0         841.0
 3121     27.9        1775.0        1400.0
 3122     20.7        1486.0         894.0
 3123     20.8         634.0         481.0
 3124     27.2        2440.0        1843.0
 3125     15.2        1419.0        1276.0
 3126     23.9         437.0         627.0
 3127     14.0         674.0         739.0
 3128     14.4        5807.0        3337.0
 3129     19.8        1907.0         983.0
 3130     23.2        4508.0        2938.0
 3131  -1111.1         254.0         307.0
 3132     17.4        1281.0        1173.0
 3133     22.2         901.0         983.0
 3134     20.5        1456.0        1455.0
 3135     20.4         656.0         467.0
 3136     27.9        2756.0        1264.0
 3137     13.1        1931.0         680.0
 3138     18.4        3186.0        1060.0
 3139     14.1         974.0         844.0
 3140     15.8         670.0         629.0

 [2906 rows x 8 columns]]

In [42]:
def split_county_by_pop(df, thresholdup, thresholddown):
    #this give another variable that allows 2 seperate lists 
    urban = df.loc[df['Population_Density'] >= thresholdup, 
                   :]
    rural = df.loc[df['Population_Density'] < thresholddown,
                  :]
    return [urban, rural]

In [47]:
urban_rural_counties = split_county_by_pop(dem_health_data, 10000, 5)

In [48]:
urban_rural_counties

[             County State  Population_Density  Poverty  Infant_Mortality  \
 221   San Francisco    CA               15837     12.0               3.9
 1227        Suffolk    MA               11183     15.9               6.1
 1780         Hudson    NJ               12926     15.0               7.4
 1828          Bronx    NY               32300     26.8               6.8
 1849          Kings    NY               35211     23.3               6.5
 1856       New York    NY               69390     18.6               4.9
 1866         Queens    NY               20520     15.4               5.2
 2292   Philadelphia    PA               10832     20.1              10.4

       Suicide  Total_Births  Total_Deaths
 221      11.0       25255.0       18969.0
 1227      5.7       28649.0       16317.0
 1780      4.8       26507.0       13726.0
 1828      5.8       68201.0       30886.0
 1849      4.6      119171.0       54937.0
 1856      8.2       60627.0       34423.0
 1866      4.7       92216.0       47876.0
 2292     10.7       64853.0       50895.0  ,
                                County State  Population_Density  Poverty  \
 67                     Aleutians East    AK                   0     11.7
 68                     Aleutians West    AK                   1      7.3
 70                             Bethel    AK                   0     20.9
 71                        Bristol Bay    AK                   2      8.1
 72                             Denali    AK                   0      6.6
 73                         Dillingham    AK                   0     18.1
 75                             Haines    AK                   1     11.4
 77                    Kenai Peninsula    AK                   3      9.9
 79                      Kodiak Island    AK                   2      8.7
 80                 Lake and Peninsula    AK                   0     16.6
 81                  Matanuska-Susitna    AK                   3     10.5
 82                               Nome    AK                   0     17.4
 83                        North Slope    AK                   0     11.6
 84                   Northwest Arctic    AK                   0     17.0
 85    Prince of Wales-Outer Ketchikan    AK                   1     13.8
 86                              Sitka    AK                   3      7.7
 87              Skagway-Hoonah-Angoon    AK                   0     11.6
 88                Southeast Fairbanks    AK                   0     15.7
 89                     Valdez-Cordova    AK                   0      9.1
 90                       Wade Hampton    AK                   0     25.1
 91                Wrangell-Petersburg    AK                   1      8.9
 92                            Yakutat    AK                   0     10.8
 93                      Yukon-Koyukuk    AK                   0     17.5
 99                           Greenlee    AZ                   4     11.2
 100                            La Paz    AZ                   4     17.2
 185                            Alpine    CA                   2     13.1
 197                              Inyo    CA                   2     10.6
 208                             Modoc    CA                   2     16.5
 209                              Mono    CA                   4      8.7
 229                            Sierra    CA                   4      9.2
 ...                               ...   ...                 ...      ...
 2775                           Beaver    UT                   2     10.1
 2779                          Daggett    UT                   1      6.2
 2782                            Emery    UT                   2     11.6
 2783                         Garfield    UT                   1     10.0
 2784                            Grand    UT                   2     13.9
 2786                             Juab    UT                   3      9.7
 2787                             Kane    UT                   2      9.0
 2788                          Millard    UT                   2     11.7
 2790                            Piute    UT                   2     13.8
 2791                             Rich    UT                   2      7.7
 2793                         San Juan    UT                   2     22.6
 2802                            Wayne    UT                   1     11.5
 2961                            Ferry    WA                   3     16.6
 2963                         Garfield    WA                   3     11.3
 2973                          Lincoln    WA                   4     11.5
 3119                         Big Horn    WY                   4     13.2
 3121                           Carbon    WY                   2     12.2
 3122                         Converse    WY                   3     10.5
 3123                            Crook    WY                   2      8.5
 3124                          Fremont    WY                   4     12.9
 3126                      Hot Springs    WY                   2     11.6
 3127                          Johnson    WY                   2      9.6
 3129                          Lincoln    WY                   4      9.5
 3131                         Niobrara    WY                   1     14.1
 3132                             Park    WY                   4     11.7
 3133                           Platte    WY                   4     11.5
 3135                         Sublette    WY                   1      7.7
 3136                       Sweetwater    WY                   4      8.6
 3139                         Washakie    WY                   4     11.1
 3140                           Weston    WY                   3      9.9

       Infant_Mortality  Suicide  Total_Births  Total_Deaths
 67                 NaN  -1111.1         222.0          73.0
 68                 NaN  -1111.1         418.0         139.0
 70                12.9     34.3        4132.0         816.0
 71                 NaN  -1111.1         186.0          50.0
 72                 NaN  -1111.1          26.0           6.0
 73                11.4     21.8        1003.0         251.0
 75                 NaN  -1111.1         198.0         143.0
 77                 6.6     25.2        3178.0        1423.0
 79                 6.9     10.1        2449.0         496.0
 80                 NaN  -1111.1         292.0         139.0
 81                 5.4     19.4        4111.0        1492.0
 82                11.2     63.8        2067.0         599.0
 83                 9.5     35.7        1487.0         333.0
 84                11.0     67.4        1631.0         394.0
 85                 9.4     15.9         849.0         251.0
 86                 6.6     16.7        1205.0         483.0
 87                 NaN  -1111.1         285.0         161.0
 88                 5.8     33.1         980.0         322.0
 89                 5.0     13.1        1315.0         480.0
 90                10.3     66.5        2158.0         358.0
 91                 4.1     18.0         826.0         451.0
 92                 NaN  -1111.1          87.0          44.0
 93                 6.5     91.3        1211.0         544.0
 99                 6.0     19.9        1314.0         601.0
 100               12.0     23.0        2045.0        1954.0
 185                NaN  -1111.1         127.0          85.0
 197                7.3     19.3        1998.0        2229.0
 208                9.6     19.3         957.0        1103.0
 209                3.9     16.3        1461.0         476.0
 229                NaN  -1111.1         280.0         365.0
 ...                ...      ...           ...           ...
 2775               7.4     17.3        1167.0         558.0
 2779               NaN  -1111.1         102.0          48.0
 2782               5.8     17.6        1695.0         706.0
 2783               9.7  -1111.1         679.0         392.0
 2784               7.8     23.8        1152.0         631.0
 2786               5.9     14.6        1640.0         590.0
 2787               6.7  -1111.1         837.0         530.0
 2788               6.9     24.7        1922.0        1038.0
 2790               NaN  -1111.1         188.0         169.0
 2791               NaN  -1111.1         266.0         117.0
 2793               4.7     13.5        2647.0         723.0
 2802               NaN  -1111.1         408.0         211.0
 2961               8.9     19.8         758.0         615.0
 2963               NaN  -1111.1         194.0         304.0
 2973               5.4     13.4        1028.0        1110.0
 3119               6.2     21.9        1440.0        1304.0
 3121               8.8     27.9        1775.0        1400.0
 3122               7.5     20.7        1486.0         894.0
 3123               0.0     20.8         634.0         481.0
 3124               9.4     27.2        2440.0        1843.0
 3126               NaN     23.9         437.0         627.0
 3127               0.0     14.0         674.0         739.0
 3129               6.4     19.8        1907.0         983.0
 3131               NaN  -1111.1         254.0         307.0
 3132               3.9     17.4        1281.0        1173.0
 3133               5.0     22.2         901.0         983.0
 3135               8.7     20.4         656.0         467.0
 3136              10.2     27.9        2756.0        1264.0
 3139               9.1     14.1         974.0         844.0
 3140              11.7     15.8         670.0         629.0

 [345 rows x 8 columns]]

In [49]:
len(urban_rural_counties[0])
#[0] is the first of my list, in this case [0, 1] 0=urban, 1=rural

8

In [50]:
len(urban_rural_counties[1])

345